.alarm-main {
    position: relative;
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-radius: var(--clf-border-radius);
    width: fit-content;
    height: fit-content;
    margin: 12px 6px 6px 12px;
}

.alarm-content {
    display: flex;
}

::deep .alarm-icon {
    position: absolute;
    z-index: 999;
    top: -15px;
    left: -15px;
}
