<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ConvergenceBlazorWeb.styles.css" />
    @* <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-theme.css" /> *@
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-slide-button.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-color-picker.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/fonts/Inter/inter.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-icons.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-led.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-alarms.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-type-scale.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-dashboard.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-text-update.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-text-entry.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-spinner.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-light-theme.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-dark-theme.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-check-box.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-boolean-button.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-action-button.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-radio-button.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-label.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-progress-bar.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-slider.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-choice-button.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-combo-box.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-tab.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-treeview.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-graph.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-tooltip.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-modal-dialog.css" />
    <link rel="stylesheet" href="_content/ConvergenceComponents/css/themes/clf-theme/clf-drop-down-button.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
