@using ConvergenceComponents.Components.Controls
@using ConvergenceComponents.Components.Styles

@page "/"

<title>Home</title>

<div>
	@* <TextEntry Name="Test:PVString" Protocol="Convergence.Protocols.EPICS_CA" DataType="typeof(string)" /> *@
	<TextEntry Name="Test:PVInteger" ShowUnits="true" Protocol="Convergence.Protocols.EPICS_CA" DataType="typeof(long)"  />
</div>

